@import "../../variables";

.suggestions-dropdown {
  ul {
    top: 50px;
    border: 1px solid $gray-500;
    border-top-width: 0;
    list-style: none;
    padding-left: 0;
    position: absolute;
    background-color: $white;
    width: 220px;
    box-shadow: -1.095px 6.914px 12.96px 3.04px rgba(51, 51, 51, 0.27);
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 300px;
  }

  li {
    padding: 0.25rem 0.5rem;

    &:hover {
      background-color: $blue-600;
      color: $white;
      cursor: pointer;
    }
  }

  .suggestion-active {
    background-color: $primary;
    color: $white;
  }

  .account-disabled {
    text-decoration: line-through;
  }
}
